<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <crimsonwing>
            <label>Crimsonwing</label>
            <sort_order>110</sort_order>
        </crimsonwing>
    </tabs>
    <sections>
        <nrc translate="label" module="adminhtml">
            <label>IPAD - Messages</label>
            <tab>crimsonwing</tab>
            <sort_order>110</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <messages translate="label">
                    <label>Messages</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <previous_order translate="label">
                            <label>Previous Order Static Block</label>
                            <frontend_type>select</frontend_type>
                            <source_model>popupmessage/system_config_source_cms_block</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </previous_order>
                    </fields>
                </messages>
            </groups>
        </nrc>
    </sections>
</config>
