<?xml version="1.0"?>
<config>
    <modules>
        <Crimsonwing_DirectDebit>
            <version>1.0.0</version>
        </Crimsonwing_DirectDebit>
    </modules>
    <global>
        <models>
            <directdebit>
                <class>Crimsonwing_DirectDebit_Model</class>
            </directdebit>
        </models>
        <helpers>
            <directdebit>
                <class>Crimsonwing_DirectDebit_Helper</class>
            </directdebit>
        </helpers>
        <resources>
            <directdebit_setup>
                <setup>
                    <module>Crimsonwing_DirectDebit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </directdebit_setup>
            <directdebit_write>
                <use>core_write</use>
            </directdebit_write>
            <directdebit_read>
                <use>core_read</use>
            </directdebit_read>
        </resources>
        <blocks>
            <directdebit>
                <class>Crimsonwing_DirectDebit_Block</class>
            </directdebit>
        </blocks>
        <fieldsets>
            <sales_convert_quote_payment>
                <customer_bankaccount><to_order_payment>*</to_order_payment></customer_bankaccount>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <customer_bankaccount><to_quote_payment>*</to_quote_payment></customer_bankaccount>
            </sales_convert_order_payment>
        </fieldsets>
        <events>
            <controller_front_init_before>
                <observers>
                    <directdebit_loadcustomnamespace>
                        <type>singleton</type>
                        <class>directdebit/observer</class>
                        <method>loadCustomNameSpace</method>
                    </directdebit_loadcustomnamespace>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <adminhtml>       
        <translate>
            <modules>
                <Crimsonwing_DirectDebit>
                    <files>
                        <default>Crimsonwing_DirectDebit.csv</default>
                    </files>
                </Crimsonwing_DirectDebit>
            </modules>
        </translate>
    </adminhtml>
    <frontend>       
        <translate>
            <modules>
                <Crimsonwing_DirectDebit>
                    <files>
                        <default>Crimsonwing_DirectDebit.csv</default>
                    </files>
                </Crimsonwing_DirectDebit>
            </modules>
        </translate>
        <layout>
            <updates>
                <directdebit>
                   <file>directdebit.xml</file>
                </directdebit>
            </updates>
        </layout>        
    </frontend> 
    <default>
        <payment>
            <directdebit>
                <active>0</active>
                <model>directdebit/directDebit</model>
                <order_status>processing</order_status>
                <title>Direct Debit</title>
                <notice><![CDATA[Message to be displayed if not empty. Please edit or remove in admin.]]></notice>
                <allowspecific>0</allowspecific>
            </directdebit>
         </payment>
    </default>
</config>
